@import url('https://fonts.googleapis.com/css?family=Muli');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  font-family: 'Muli', sans-serif;
  background-color: #f5f6fa;
}

/* single sections usually per nav link */
.single-section {
  width: 100%;
  height: 100vh;

}


/* HEADER */

#header {
  padding-top: 20px;
}

/* main site title */
#header-title {
  font-size: 35px;
  color: #353b48;
  margin-left: 80px;
  font-weight: bold;
}


/* NAVIGATION */

/* navigation bar */
#nav {
  margin-left: 70%;
  cursor: pointer;
  font-size: 19px;
  font-weight: bold;
  display: inline;
}

.nav {
  margin-left: 6px;
  display: inline;

}

.nav:before {
  content:'\00B7';
  padding-right:5px;
}

/* home button */
.nav-home {
  display: inline;
  color: #40739e;
}

#nav-home {
  font-size: 24px;
}

/* mouseover effects */
.nav:hover {
  color: #487eb0;
  transition: 0.2s linear;
}

#nav:hover {

-webkit-transform: scale(1.2);

}

/* class added for header to be fixed when user scrolls down page */
.fixed {
  position: fixed;
  top: 0;
}


/* splash */
#splash-background {
  width: 100%;
  height: 90.5vh;
  background-image: url('../images/office_background.jpg');
}


/* ABOUT */

#about {
  background-color: #ced6e0;
}





/* CONTACT */

#contact {
  height: 200px;
  width: 100%;

  background-color: #2f3542;


  font-size: 25px;
  color: #ced6e0;

  display: flex;
  align-items: center;
  justify-content: center;
}
