@import url('https://fonts.googleapis.com/css?family=Muli');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Muli', sans-serif;
  background-color: #f1f2f6;
}

/* single sections usually per nav link */
.single-section {
  width: 100%;
  height: 100vh;

}

#header {
  padding-top: 20px;
}

/* main site title */
#header-title {
  font-size: 35px;
  margin-left: 80px;
  font-weight: bold;
}

/* NAVIGATION */

/* navigation bar */
#nav {
  margin-left: 70%;
  cursor: pointer;
  font-size: 19px;
  font-weight: bold;
  display: inline;
}

.nav {
  margin-left: 6px;
  display: inline;

}

.nav:before {
  content:'\00B7';
  padding-right:5px;
}

/* home button */
.nav-home {
  display: inline;
  color: #2e86de;
}

#nav-home {
  font-size: 24px;
}

/* mouseover effects */
.nav:hover {
  color: #0abde3;
  transition: 0.2s linear;
}

#nav:hover {

-webkit-transform: scale(1.2);

}

/* splash */
#splash-background {
  width: 100%;
  height: 90.5vh;
  background-image: url('../images/office_background.jpg');
}
