@charset "UTF-8";
/* header */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: "Muli", sans-serif;
  background-color: white; }

/* single sections usually per nav link */
.single-section {
  width: 100%;
  height: 100vh;
  min-width: 900px; }

/* HEADER */
/* entire header including title & nav */
#header {
  font-family: "Slabo 27px", serif;
  padding-top: 15px;
  transition-delay: 0.5s linear;
  height: 100px;
  background-color: #a4b0be;
  border: 3px solid black;
  animation-name: header-anim;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; }

@keyframes header-anim {
  0% {
    background-color: #747d8c;
    height: 110px; }
  100% {
    background-color: #a4b0be; } }
/* main site title */
#header-title {
  font-family: "Slabo 27px", serif;
  font-size: 27px;
  color: #227093;
  margin-left: 220px;
  font-weight: bold; }

/* NAVIGATION */
/* navigation bar */
#mynav {
  margin-left: 60%;
  cursor: pointer;
  font-size: 19px;
  font-weight: bold;
  display: inline; }

.mynav {
  margin-left: 22px;
  display: inline; }

.mynav:before {
  content: "·";
  padding-right: 5px; }

/* home button */
.nav-home {
  display: inline;
  color: #0a3d62; }

.nav-home:hover {
  color: #ff6b81; }

#nav-home {
  font-size: 24px; }

/* mouseover effects */
.mynav:hover {
  color: #227093;
  transition: 0.2s linear; }

/* class added when screen is too narrow (or mobile / tablet mode ) */
.mobileNavStyle {
  font-size: 12px; }

.mobileNavLayout {
  margin-left: 10%; }

/* class added for header to be fixed when user scrolls down page */
.head-nav {
  position: fixed;
  width: 100%;
  height: 75px;
  top: 0;
  margin-bottom: 4px;
  -webkit-box-shadow: 3px 0 12px 3px #5a5a5a;
  -moz-box-shadow: 3px 0 12px 3px #5a5a5a;
  box-shadow: 3px 0 12px 3px #5a5a5a;
  /* animations for nav menu */
  animation-name: nav-anim;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; }

@keyframes nav-anim {
  0% {
    background-color: #a4b0be;
    border: 0.5px solid black; }
  50% {
    background-color: #747d8c;
    height: 85px;
    border: 0.5px solid black; }
  100% {
    background-color: #7f8fa6;
    height: 80px;
    border: 0.5px solid black; } }
.head-nav .mynav:hover {
  color: white; }

/* HOME */
/* splash */
#splash-background {
  width: 100%;
  height: 85vh;
  background-image: url("../images/office_background.jpg");
  background-color: white; }

#splash-background p {
  padding-top: 20%;
  padding-left: 20%;
  font-size: 33px;
  font-style: italic;
  color: #d2dae2;
  font-family: "Muli", sans-serif; }

/* ABOUT */
#about {
  background-color: #d2dae2;
  font-family: "Muli", sans-serif; }
  #about .about-content {
    text-align: center;
    animation-name: aboutanimation;
    animation-timing-function: ease-in-out;
    animation-duration: 300ms;
    animation-fill-mode: forwards; }

@keyframes aboutanimation {
  0% {
    font-size: 10px; }
  60% {
    font-size: 20px; }
  100% {
    font-size: 17px; } }
/* CONTACT */
#contact {
  height: 200px;
  width: 100%;
  background-color: #2f3542;
  font-size: 20px;
  color: #d2dae2;
  display: flex;
  align-items: center;
  justify-content: center; }

/* CATALOG ITEMS */
#catalog-items {
  background-color: #2f3542; }

/* FOOTER */
#footer {
  font-weight: bold;
  word-spacing: 120px;
  text-align: center;
  height: calc(15vh - 100px);
  line-height: calc(15vh - 100px);
  width: 100%;
  background-color: #57606f;
  border: 0.5px solid black;
  position: fixed; }
  #footer span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal; }

/* OTHER */
.text-content {
  font-size: 25px;
  display: flex;
  text-align: center;
  margin-top: 15%;
  padding-left: 5%;
  padding-right: 5%; }

#mynav a {
  text-decoration: inherit;
  color: inherit;
  cursor: inherit; }

/*# sourceMappingURL=style.css.map */
